<section id="about" class="about">
  <div class="about-background">
    <div class="floating-shapes">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
      <div class="shape shape-4"></div>
    </div>
    <div class="grid-pattern"></div>
  </div>
  
  <div class="container">
    <div class="about-content">
      <div class="section-header">
        <div class="section-badge">
          <i class="fas fa-mountain"></i>
          <span>{{ 'about.badge' | translate }}</span>
        </div>
        <h2 class="section-title">{{ 'about.title' | translate }}</h2>
      </div>
      
      <div class="about-text">
        <p class="text-highlight">{{ 'about.subtitle' | translate }}</p>
        <p>{{ 'about.description1' | translate }}</p>
        <p>{{ 'about.description2' | translate }}</p>
      </div>
      
      <div class="features-container">
        <h3 class="features-title">{{ 'about.features.title' | translate }}</h3>
        <div class="features-grid">
          <div class="feature" data-aos="fade-up" data-aos-delay="0">
            <div class="feature-icon">
              <div class="icon-wrapper">
                <i class="fas fa-mountain"></i>
              </div>
            </div>
            <h4>{{ 'about.features.swiss' | translate }}</h4>
          </div>
          
          <div class="feature" data-aos="fade-up" data-aos-delay="100">
            <div class="feature-icon">
              <div class="icon-wrapper">
                <i class="fas fa-rocket"></i>
              </div>
            </div>
            <h4>{{ 'about.features.technology' | translate }}</h4>
          </div>
          
          <div class="feature" data-aos="fade-up" data-aos-delay="200">
            <div class="feature-icon">
              <div class="icon-wrapper">
                <i class="fas fa-handshake"></i>
              </div>
            </div>
            <h4>{{ 'about.features.service' | translate }}</h4>
          </div>
          
          <div class="feature" data-aos="fade-up" data-aos-delay="300">
            <div class="feature-icon">
              <div class="icon-wrapper">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <h4>{{ 'about.features.delivery' | translate }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
