<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/logo_oceantech.png" alt="lopes2tech" class="footer-logo-image light-theme-logo">
        <img src="/logo_cyberpunk.png" alt="lopes2tech" class="footer-logo-image dark-theme-logo">
      </div>
      <div class="footer-links">
        <a routerLink="/impressum" class="footer-link">Impressum</a>
      </div>
      <div class="footer-text">
        <p>{{ 'footer.copyright' | translate }}</p>
      </div>
    </div>
  </div>
</footer>
